<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
        <title>Aura Dining</title>
        <link rel="icon" href="./../images/favico.ico">
        <script src="./../js/base.js"></script>
        <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
        <link rel="stylesheet" href="../styles/vant.min.css"/>
        <link rel="stylesheet" href="../styles/index.css" />
        <link rel="stylesheet" href="./../styles/address-edit.css" />
    </head>
    <body>
        <div id="address_edit" class="app">
            <div class="divHead">
                <div class="divTitle">
                    <i class="el-icon-arrow-left" @click="goBack"></i>Aura Dining
                </div>
            </div>
            <div class="divContent">
                <div class="divItem">
                   <span>Contact Name</span>
                   <el-input placeholder="Contact Name" v-model="form.consignee"  maxlength='10' class="inputUser"/></el-input>
                </div>
                <div class="divItem">
                    <span>Phone Number</span>
                    <el-input placeholder="Phone Number (e.g., 555-123-4567)" v-model="form.phone"  maxlength='20' class="inputUser"/></el-input>
                </div>
                <div class="divItem">
                    <span>Street Address</span>
                    <el-input placeholder="Street Address (e.g., 123 Main St, Apt 4B)" v-model="form.streetAddress"  maxlength='100'/></el-input>
                </div>
                <div class="divItem">
                    <span>City</span>
                    <el-input placeholder="City" v-model="form.city"  maxlength='50'/></el-input>
                </div>
                <div class="divItem">
                    <span>State</span>
                    <el-select v-model="form.state" placeholder="Select State" class="stateSelect">
                        <el-option v-for="state in usStates" :key="state.code" :label="state.name" :value="state.code"></el-option>
                    </el-select>
                </div>
                <div class="divItem">
                    <span>ZIP Code</span>
                    <el-input placeholder="ZIP Code (e.g., 90001)" v-model="form.zipCode"  maxlength='10'/></el-input>
                </div>
                <div class="divItem divItemNote">
                    <span>Label</span>
                    <div class="noteTags">
                        <span v-for="(item,index) in labelList" :key="index" @click="form.label = item;activeIndex = index" :class="{spanItem:true,spanActiveCompany:activeIndex === index && item === 'company',spanActiveHome:activeIndex === index && item === 'home',spanActiveSchool:activeIndex === index && (item === 'school' || item === 'none')}">{{item}}</span>
                    </div>
                </div>
                <div class="divSave" @click="saveAddress">Save</div>
                <div class="divDelete" @click="deleteAddress" v-if="id">Delete</div>
            </div>
        </div>
        <script src="../../backend/plugins/vue/vue.js"></script>
        <script src="../../backend/plugins/element-ui/index.js"></script>
        <script src="./../js/vant.min.js"></script>
        <script src="./../js/common.js"></script>
        <script src="./../api/address.js"></script>
        <script src="../../backend/plugins/axios/axios.min.js"></script>
        <script src="./../js/request.js"></script>
        <script>
            new Vue({
                el:"#address_edit",
                data(){
                    return {
                        title:'add address',
                        form:{
                            consignee:'',
                            phone:undefined,
                            streetAddress:'',
                            city:'',
                            state:'',
                            zipCode:'',
                            label:'company',
                        },
                        labelList:[
                            'none','company','home','school'
                        ],
                        id:undefined,
                        activeIndex :0,
                        usStates:[
                            {code:'AL',name:'Alabama'},{code:'AK',name:'Alaska'},{code:'AZ',name:'Arizona'},{code:'AR',name:'Arkansas'},
                            {code:'CA',name:'California'},{code:'CO',name:'Colorado'},{code:'CT',name:'Connecticut'},{code:'DE',name:'Delaware'},
                            {code:'FL',name:'Florida'},{code:'GA',name:'Georgia'},{code:'HI',name:'Hawaii'},{code:'ID',name:'Idaho'},
                            {code:'IL',name:'Illinois'},{code:'IN',name:'Indiana'},{code:'IA',name:'Iowa'},{code:'KS',name:'Kansas'},
                            {code:'KY',name:'Kentucky'},{code:'LA',name:'Louisiana'},{code:'ME',name:'Maine'},{code:'MD',name:'Maryland'},
                            {code:'MA',name:'Massachusetts'},{code:'MI',name:'Michigan'},{code:'MN',name:'Minnesota'},{code:'MS',name:'Mississippi'},
                            {code:'MO',name:'Missouri'},{code:'MT',name:'Montana'},{code:'NE',name:'Nebraska'},{code:'NV',name:'Nevada'},
                            {code:'NH',name:'New Hampshire'},{code:'NJ',name:'New Jersey'},{code:'NM',name:'New Mexico'},{code:'NY',name:'New York'},
                            {code:'NC',name:'North Carolina'},{code:'ND',name:'North Dakota'},{code:'OH',name:'Ohio'},{code:'OK',name:'Oklahoma'},
                            {code:'OR',name:'Oregon'},{code:'PA',name:'Pennsylvania'},{code:'RI',name:'Rhode Island'},{code:'SC',name:'South Carolina'},
                            {code:'SD',name:'South Dakota'},{code:'TN',name:'Tennessee'},{code:'TX',name:'Texas'},{code:'UT',name:'Utah'},
                            {code:'VT',name:'Vermont'},{code:'VA',name:'Virginia'},{code:'WA',name:'Washington'},{code:'WV',name:'West Virginia'},
                            {code:'WI',name:'Wisconsin'},{code:'WY',name:'Wyoming'},{code:'DC',name:'District of Columbia'}
                        ]
                    }
                },
                computed:{},
                created(){
                    this.initData()
                },
                mounted(){
                },
                methods:{
                    goBack(){
                        history.go(-1)
                    },
                    async initData(){
                        const params = parseUrl(window.location.search)
                        this.id = params.id
                        if(params.id){
                            this.title = 'edit address'
                            const res = await addressFindOneApi(params.id)
                            if(res.code === 1){
                                this.form = res.data
                                // Set activeIndex based on label
                                const index = this.labelList.indexOf(this.form.label)
                                if(index !== -1){
                                    this.activeIndex = index
                                }
                            }else{
                                this.$notify({ type:'warning', message:res.msg});
                            }
                        }
                    },
                    async saveAddress(){
                        const form = this.form
                        if(!form.consignee){
                            this.$notify({ type:'warning', message:'Please enter contact name'});
                            return 
                        }
                        if(!form.phone){
                            this.$notify({ type:'warning', message:'Please enter phone number'});
                            return 
                        }
                        if(!form.streetAddress){
                            this.$notify({ type:'warning', message:'Please enter street address'});
                            return 
                        }
                        if(!form.city){
                            this.$notify({ type:'warning', message:'Please enter city'});
                            return 
                        }
                        if(!form.state){
                            this.$notify({ type:'warning', message:'Please select state'});
                            return 
                        }
                        if(!form.zipCode){
                            this.$notify({ type:'warning', message:'Please enter ZIP code'});
                            return 
                        }
                        // US phone number validation (supports formats: 555-123-4567, (555) 123-4567, 5551234567)
                        const phoneReg = /^[\d\s\-\(\)]+$/
                        if(!phoneReg.test(form.phone) || form.phone.replace(/\D/g, '').length < 10){
                            this.$notify({ type:'warning', message:'Invalid phone number format'});
                            return  
                        }
                        // ZIP code validation (5 digits or 5+4 format)
                        const zipReg = /^\d{5}(-\d{4})?$/
                        if(!zipReg.test(form.zipCode)){
                            this.$notify({ type:'warning', message:'Invalid ZIP code format (e.g., 90001 or 90001-1234)'});
                            return  
                        }
                        let res= {}
                        if(this.id){
                            res = await updateAddressApi(this.form)
                        }else{
                            res = await addAddressApi(this.form)
                        }
                        
                        if(res.code === 1){
                            window.requestAnimationFrame(()=>{
                                window.location.replace('/front/page/address.html')
                            })
                        }else{
                            this.$notify({ type:'warning', message:res.msg});
                        }
                    },
                    deleteAddress(){
                        this.$dialog.confirm({
                            title: 'continue',
                            message: 'continue？',
                        })
                        .then( async () => {
                            const res = await deleteAddressApi({ids:this.id })
                            if(res.code === 1){
                                window.requestAnimationFrame(()=>{
                                    window.location.replace('/front/page/address.html')
                                })
                            }else{
                                this.$notify({ type:'warning', message:res.msg});
                            }
                        })
                        .catch(() => {
                        });
                    },
                }
            })
            </script>
    </body>
</html>
