<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
        <title>Aura Dining</title>
        <link rel="icon" href="./../images/favico.ico">
        <script src="./../js/base.js"></script>
        <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
        <link rel="stylesheet" href="../styles/vant.min.css"/>
        <link rel="stylesheet" href="../styles/index.css" />
        <link rel="stylesheet" href="./../styles/login.css" />
        <link rel="stylesheet" href="./../styles/demo-disclaimer.css" />
      </head>
    <body>
        <div id="login" v-loading="loading">
            <div class="demo-disclaimer-subtle">Demo only. No real payment or delivery.</div>
            <div class="divHead">
                <div class="logoSection">
                    <img src="./../images/logo.png" alt="Aura Dining" class="logoImg" />
                    <div class="restaurantName">Aura Dining</div>
                </div>
            </div>
            <div class="divContent">
                <div class="divContainer">
                    <el-input placeholder="Email Address" v-model="form.email"  maxlength='64'/></el-input>
                    <div class="divSplit"></div>
                    <el-input placeholder="Verification Code" v-model="form.code"  maxlength='20'/></el-input>
                    <span @click='getCode'>Send Code</span>
                </div>
                <div class="divMsg" v-if="msgFlag">Invalid email address</div>
                <el-button type="primary" :class="{btnSubmit:1===1,btnNoEmail:!form.email,btnEmail:form.email}" @click="btnLogin">Sign In</el-button>
            </div>
        </div>
        <script src="../../backend/plugins/vue/vue.js"></script>
        <script src="../../backend/plugins/element-ui/index.js"></script>
        <script src="./../js/vant.min.js"></script>
        <script src="../../backend/plugins/axios/axios.min.js"></script>
        <script src="./../js/request.js"></script>
        <script src="./../api/login.js"></script>
    </body>
    <script>
        new Vue({
            el:"#login",
            data(){
                return {
                    form:{
                        email:'',
                        code:''
                    },
                    msgFlag:false,
                    loading:false
                }
            },
            computed:{},
            created(){},
            mounted(){},
            methods:{
                getCode(){
                    this.form.code = ''
                    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    if (emailRegex.test(this.form.email)) {
                        this.msgFlag = false
                        sendMsgApi({ email: this.form.email })
                    } else {
                        this.msgFlag = true
                    }
                },
                async btnLogin(){
                    if(this.form.email && this.form.code){
                        this.loading = true
                        const res = await loginApi(this.form)
                        this.loading = false
                        if(res.code === 1){
                            sessionStorage.setItem("userEmail", this.form.email)
                            window.requestAnimationFrame(()=>{
                                window.location.href= '/front/index.html'
                            })
                        }else{
                            this.$notify({ type:'warning', message:res.msg});
                        }
                    }else{
                        this.$notify({ type:'warning', message:'Please enter email address'});
                    }
                }
            }
        })
    </script>
</html>